.card-child{
    box-shadow: 2px 2px 5px rgb(104, 104, 104);
    background-color:white;
    height: 500px;
    padding: 5px;
    width: 900px;
    margin-top: 50px;
    text-align: justify;
    padding: 5px;
    margin-top: 10px;
}
.heading{
font-size: 20px;
font-family: italic;
font-weight: bold;
}
label{
    font-family: italic;
    font-weight: bold;
    margin-top: 10px;
}
form-control{
    border-radius: 5px;
}
@media only screen and (min-width: 1000px) {
    html {
      zoom: 1;
    }
  }
